<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="credit in bcCtrl.billingCycle.credits">
                <td>
                    <input type="text" ng-model="credit.name"  class="form-control" placeholder="Nome" ng-readonly="bcCtrl.tabDelete"></input>
                </td>
                <td>
                    <input type="number" ng-change="bcCtrl.calculateValues()" ng-model="credit.value" class="form-control" placeholder="Valor" ng-readonly="bcCtrl.tabDelete"></input>
                </td>
                <td class="table-actions">
                    <button ng-click="bcCtrl.addCredit($index)" class="btn btn-success" ng-disabled="bcCtrl.tabDelete"> <i class="fa fa-plus"></i></button>
                    <button ng-click="bcCtrl.cloneCredit($index, credit)" class="btn btn-warning" ng-disabled="bcCtrl.tabDelete"><i class="fa fa-clone"></i></button>
                    <button ng-click="bcCtrl.deleteCredit($index)" class="btn btn-danger" ng-disabled="bcCtrl.tabDelete"><i class="fa fa-trash-o"></i></button>
                </td>

            </tr>
        </tbody>
    </table>
</div>